/* google font import file here  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* --------------
common style  
-----------------*/
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* --------------
menu style here 
 -----------------*/
.header-container{
    background: #2D25A0;
    width: 100%;
    height: 677px;
}

.menubar{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-top: 34px;
    margin: 0 8%;
}
.menu a{
 text-decoration: none;
 font-weight: 500;
font-size: 16px;
margin-right: 36px;
color: #FFFFFF;
}
.menu a:hover{
    background-color: whitesmoke;
    color: black;
    padding: 5px 10px;
    border-radius: 8px;
}

/* ----------------
button style 
 -----------------*/
.button{
   background-color:#E02C6D ;
   padding: 10px 24px;
   color: #FFFFFF;
   font-size: 16px;
   border-radius: 5px;
   cursor: pointer;
}
.button:hover{
    background-color:tomato;
    
}

/*--------------------
 banner section style 
---------------------- */
.banner-section{
    display: flex;
    margin-top:50px;

}
.half-width{
    width: 50%;
    padding-left:8%;
    color: #FFFFFF;
    font-size: 24px;
}
.half-width img{
    width: 60%;
}


/* ----------------
player section style
 -----------------*/
.player-container{
    justify-content: center;
    align-items: center;
    padding-left:8%;
}
.team{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:30px;
    width: 50%;
    
    background: #FFFFFF;
   
}
.players{
    
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin: 10px;
   
}
   .player img{
    margin: 10px ;
    width: 300px;
    height: 256px;
   }
   .player-info{
       margin: 10px;
   }
/*-----------------
 match section style 
-----------------*/
.match-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.match-part{
    width: 50%;
    padding-left:8%;
    
}
.match-part img{
    width: 70%;
    border-radius: 10px;
}
 /*---------------- 
 match result style
 -----------------*/
 .match-result-container{
     display: flex;
     flex-direction: row;
     padding-top: 20px;
     
 }

 .match-result img{
     width: 70%;
     border-radius: 40px;
 }
 .points-table{
     width: 50%;
 }
 /* -----------------
 upcoming-match style 
  -----------------*/
 .upcoming-match {
   background-image: url(images/upcoming-match.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0% auto;
  
 }
 .upcoming-info{
     color: white;
     font-size: 2.3rem;
     text-align: center;
     padding-top: 20px;
 }
/*---------------------
 footer style start here 
------------------------*/
footer{
    margin-top: 150px;
    text-align: center;
    font-size: 18px;
    color: black;
}
.footer-logo img{
    height: 110px;
}
.icon{
    padding: 15px;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
}

/*------------------------------
 media query for mobile phone 
------------------------------- */
/* @media only screen and (max-width:688px) {
   
    

    } */

/* /* --------------------
for ipad
---------------------- */

@media only screen and (max-width:688px) {
    
    body{
        margin: 0%;
        
    }
   
    .header-container,.menubar{
        width: 100%;
       flex-direction: column;
    }
   .banner-section{
       display: flex;
       flex-direction: column;
       margin: 0%;
   }
   .half-width,.match-container{
       padding: 0%;
       margin: 0%;
       
   }
 
    .upcoming-info,.upcoming-match{
     width: 100%;
    }
    .banner-section,.match-container,.match-result-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);

}

.player-container,.team,.points-table,.match-part,.button{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-right: 5px;
    padding: 0%;
    margin: 0%;
}
.match-part,.half-width,.match-part{
    width: 100%;
    padding-top:10px ;
    align-items: center;
}
.footer-logo img{
    width: 60%;

}
}

/* for lapto */
