/* google font import file here  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* --------------
common style  
-----------------*/
body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

/* --------------
menu style here 
 -----------------*/
.header-container{
    background: #2D25A0;
    width: 100%;
    height: 677px;
}
.menubar{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-top: 34px;
    margin-left: 70px;
}

.menu a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    margin-right: 34px;
    color: #FFFFFF;
}
.menu a:hover{
    background-color: whitesmoke;
    color: black;
    padding: 5px 10px;
    border-radius: 8px;
}

/* ----------------
button style 
 -----------------*/
.button{
   background-color:#E02C6D ;
   padding: 10px 24px;
   width: 150px;
   color: #FFFFFF;
   font-size: 16px;
   border-radius: 5px;
   cursor: pointer;
}
.menu-btn{
    margin-right:70px ;
}
.live-button{
    margin-left: 70px;
}
.button:hover{
    background-color:tomato;
}

/*--------------------
 banner section style 
---------------------- */
.banner-section{
    display: flex;
    margin-top:50px;
}
.title{
    margin-left: 70px;
}
.half-width{
    width:100%;
    color: #FFFFFF;
    font-size: 24px;
}
.half-width img{
    width: 60%;

}
.half-width img:hover{
    transition: 2s;
    transform: scale(1.2);
}

/* ----------------
player section style
 -----------------*/
.player-container{
    justify-content: center;
    align-items: center;
     margin-left: 70px; 
}
.team{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:30px;
    width: 50%;
    background: #FFFFFF;
    margin-left: 8%;
}
.players{
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin: 10px;
}
.player img{
    margin: 10px ;
    width: 300px;
    height: 256px;
   }
.player-info{
       margin: 10px;
    }
/*-----------------
 match section style 
-----------------*/
.match-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.match-part{
    width: 50%;
    margin-left: 70px;  
}
.match-part img{
    width: 70%;
    border-radius: 10px;
}
 /*---------------- 
 match result style
 -----------------*/
 .match-result-container{
     display: flex;
     flex-direction: row;
     padding-top: 20px;
 }
 .match-result img{
     width: 70%;
     border-radius: 40px;
 }
 .points-table{
     width: 50%;
 }
 /* -----------------
 upcoming-match style 
  -----------------*/
 .upcoming-match {
   background-image: url(images/upcoming-match.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0% auto;
 }
 .upcoming-info{
     color: white;
     font-size: 2.3rem;
     text-align: center;
     padding-top: 20px;
 }
/*---------------------
 footer style start here 
------------------------*/
footer{
    margin-top: 150px;
    text-align: center;
    font-size: 18px;
    color: black;
}
.footer-logo img{
    height: 110px;
}
.icon{
    padding: 15px;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
}

/* /* -------------------
 Media query for Mobail
---------------------- */

@media only screen and (max-width:688px) {
    
    body{
        margin: 0%;
    }
    .header-container,.menubar{
        width: 100%;
       flex-direction: column;
    }
    .menubar,.menu-btn,.half-width,.title,.match-part{
        margin-left: 1px;
    }
   
   .banner-section{
       display: flex;
       flex-direction: column;
       margin: 0%;
   }
  
   .half-width img{
       width: 300px;
       
       }
    .upcoming-info,.upcoming-match{
     width: 100%;
    }
    .banner-section,.match-container,.match-result-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
   .player-container,.team,.points-table,.match-part{
   
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-right: 5px;
    padding: 0%;
    margin: 0%;
    }
   .match-part,.half-width,.match-part{
    width: 100%;
    padding-top:10px ;
    align-items: center;
    }
    .footer-logo img{
    width: 60%;
    }
}

/*-----------------------
 media query for ipad 
----------------------- */

@media only screen and (min-width:688px) and (max-width: 992px) {
        
    .team{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
    }
    .player-container {
        width: 100%;
        justify-content: center;
        margin: 0%;
        margin-left: 1px;
    }
}
